<div class="top-contents">
    <div class="top-content">
        <div>
            <h3>車</h3>
        </div>
        <div>
            <%= link_to '登録', new_car_path %>
        </div>
        <div>
            <%= link_to '閲覧' %>
        </div>
        <div>
            <%= link_to '各車作業箇所' %>
        </div>
        <div>
            <%= link_to '各車仕様入力' %>
        </div>
    </div>
    <div class="top-content">
        <div>
            <h3>小日程管理</h3>
        </div>
        <div>
            <%= link_to '予定入力', home_schedule_path %>
        </div>
        <div>
            <%= link_to '実績入力' %>
        </div>
        <div>
            <%= link_to '実績確認' %>
        </div>
        <div>
            <%= link_to '工数確認' %>
        </div>
    </div>
    <div class="top-content">
        <div>
            <h3>その他</h3>
        </div>
        <div>
            <%= link_to '作業者情報入力' %>
        </div>
        <div>
            <%= link_to '作業者情報閲覧' %>
        </div>
    </div>
</div>